<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <title>Accueil - Le saviez-vous ?</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/custom.css')}}" />
        
    
    
    
    </head>
    <body>
        <header>
            <div id="Titre">
                <h1>Le saviez vous ?</h1>
            </div>
            <div id="menu">
                <a href="/index" class="button">Accueil</a>
                <a href="/enternew" class="button">Ajoutez une anedocte</a>
                <a href="/BDD" class="button">Visualiser la base de donnée</a>
            </div>
        
        </header>
        
        <div id="Boite1">
                <section id="presentation1">
                    <article>
                        <h2>L'Application Web communautaire autour de la culture et du savoir.</h2>
                        <p>Cette application a pour but de recencer des faits que peu de personne savent et qui pourront enrichir la culture des personnes qui passeront par là.<br/>Le site se base sur une base de donnée qui contient l'utilisateur qui a mis en ligne cette information, l'anedocte ainsi que l'heure où elle a été mise.</p>
                    </article>
                </section>
                
                <section id="presentation2">
                    <article>
                        <h2>A propos de nous ?</h2>
                        <p>En fait, je suis tout seul à gérer ça, je m'appelle Clément et je suis actuellement en Terminale générale.<br/>Je gère cette application depuis que je l'ai créé.</p>
                    </article>
                </section>
                
                <section id="presentation3">
                     <article>
                        <h2>Comment utiliser cette application ?</h2>
                        <p>C'est très simple, dans l'onglet "Ajoutez une anedocte", vous allez trouver un formulaire qui vous demandera votre pseudo, votre âge ainsi que votre anedocte, mettez toutes ces informations et cliquer sur "envoyer" et votre anedocte sera ajouter à la base de donnée.</p>
                    </article>
                </section>
                <section id="presentation3">
                    <article>
                        <p>1 - Merci de ne pas être insultant envers les autres, les anedoctes qui ont pour but de diffamer une personne ou un groupe seront fortement sanctionné.</p>
                        <p>2 - Ecrivez dans un français correcte.</p>
                        <p>3 - Racontez vos meilleurs anecdotes et tout ce passera bien. </p>
                    </article>
                    
                </section>
               
            
        </div>
        
        
        <footer>
            
        </footer>
    
    
    </body>







</html>